label {
  font-family: Lato;
  display: inline;
  font-size: 15px;
  font-weight: bold;
}
input {
  margin-top: 20px;
}

select {
  margin-top: 20px;
}

form {
  margin-top: 20px;
}

.results {
  margin-top: 20px;
}

.results-header {
  text-decoration: underline;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
