label {
  font-family: Lato;
  display: inline;
  font-size: 15px;
  font-weight: bold;
}
input {
  margin-top: 20px;
}

select {
  margin-top: 20px;
}

form {
  margin-top: 20px;
}

.results {
  margin-top: 20px;
}

.results-header {
  text-decoration: underline;
}

.height-input {
  width: 45%;
  display: inline-block;
}

.height-input:not(:first-of-type) {
  margin-left: 5%;
}
